body {
  margin: 0px;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
#root{
  height:100vh;
}
/*sizing of map container*/
.leaflet-container{
  height:100vh
}

.chemDatePickr {
  width: 100%;
  height: 30px;
  font-family:  "Rubik","sans-serif";
  font-size: 0.75rem;
  text-align: center;
}
.flatpickr-calendar{
  font-family:  "Rubik","sans-serif";
}













































